
# Example Connection String: mongodb://[MongodbHost]:[PORT]/[DatabaseName]
MONGODB_URL=mongodb://127.0.0.1:27017/centerling-news-development

# Configure these to enable sending emails
EMAIL_SMTP_HOST=mail.cdtm.de
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USERNAME=michael.froehlich@cdtm.de
EMAIL_SMTP_PASSWORD=xxxx
# true for 465, false for other ports
EMAIL_SMTP_SECURE=true
EMAIL_SMTP_SENDER_EMAIL=michael.froehlich@cdtm.de

# The URL where your client is running, so emails can redirect to it
WEB_APP_HOST=http://localhost:3001

JWT_SECRET=YourSecret
# Example Secret=abcdefghijklmnopqrstuvwxyz1234567890

JWT_TIMEOUT_DURATION="2 hours"
# You can place duration available here: https://github.com/auth0/node-jsonwebtoken#usage
# Search for "expiresIn" option on above link.

# This should point to the url where the client application is running, so emails can link to it
WEB_APP_HOST=http://localhost:3000
